@import "tailwindcss";

@theme {
  --color-off: #F8F8F8;
  --color-highlight-red: #CC0000;
}
/* Reset and base styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #070707;
  color: #F8F8F8;
  font-family: 'Geist Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.08em;
  line-height: 1.5;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Typography classes */
.subheadings {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.08em;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -0.08em;
}

.title {
  color: #0046A2;
  font-family: var(--font-gaseok-one), cursive;
  font-size: 16rem;
  font-weight: 400;
  letter-spacing: -0.04em;
}

/* Font weight utilities */
.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

/* Star animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-star {
  animation: rotate 60s linear infinite;
}

/* Text inversion effect */
.star-container {
  position: relative;
  display: inline-block;
  isolation: isolate;
}

.background-text {
  position: relative;
  z-index: 0;
  color: #F8F8F8;
}

.star-text {
  position: relative;
  z-index: 2;
  color: #F8F8F8;
}

.star-svg {
  position: absolute;
  top: -130%;
  left: 8%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  mix-blend-mode: difference;
}
.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.35;
  filter: url(#noise) grayscale(100%);
  mix-blend-mode: screen;
}

.subheading-container {
  border: solid 1px #F8F8F8;
  border-radius: 1.25rem;
  padding-left: 0.5rem;

}

.textbox-container {
  margin: 1rem 0;
  border: solid 1px #F8F8F8;
  padding: 1.5rem;


}

.social-link {
  text-align: right;
  cursor: pointer;
}

.social-link:hover {
  opacity: 0.70;
}